/.vs
/lab_02/enigma/obj
/lab_03/des/des/bin/Debug/netcoreapp3.1
/lab_03/des/des/obj
/lab_03/Testing/bin
/lab_03/Testing/obj
/lab_03/.vs/des
/lab_03/des/.vs/des/v16
/lab_03/des/.vs/*
.vs/*
*/.vs/*
/lab_05/lab_05/.vs/lab_05/v16
/lab_05/lab_05/lab_05/bin/Debug/netcoreapp3.1
/lab_05/lab_05/lab_05/obj
/lab_05/lab_05/.vs/lab_05/DesignTimeBuild
/lab_06/lab_06/.vs/lab_06/v16
/lab_06/lab_06/.vs/lab_06/DesignTimeBuild
/lab_06/lab_06/lab_06/bin/Debug/netcoreapp3.1
/lab_06/lab_06/lab_06/obj
/lab_06/lab_06/lab_06/data/new.exe
/lab_06/lab_06/lab_06/data/apphost.exe
/lab_06/lab_06/lab_06/data/compress_data.txt
/lab_06/lab_06/lab_06/data/decompress_data.txt
/lab_04/lab4_RSA/bin/Debug
/lab_04/lab4_RSA/data/.vs
/lab_04/lab4_RSA/obj
/lab_04/packages/System.Runtime.Numerics.4.3.0
/lab_04/lab4_RSA/.vs/lab4_RSA/v16
/lab_04/lab4_RSA/.vs
