/.vs
/lab_02/enigma/obj
/lab_03/des/des/bin/Debug/netcoreapp3.1
/lab_03/des/des/obj
/lab_03/Testing/bin
/lab_03/Testing/obj
/lab_03/.vs/des
/lab_03/des/.vs/des/v16
/lab_03/des/.vs/*
.vs/*
*/.vs/*
/lab_05/lab_05/.vs/lab_05/v16
/lab_05/lab_05/lab_05/bin/Debug/netcoreapp3.1
/lab_05/lab_05/lab_05/obj
/lab_05/lab_05/.vs/lab_05/DesignTimeBuild
/lab_06/lab_06/.vs/lab_06/v16
/lab_06/lab_06/.vs/lab_06/DesignTimeBuild
/lab_06/lab_06/lab_06/bin/Debug/netcoreapp3.1
/lab_06/lab_06/lab_06/obj
/lab_06/lab_06/lab_06/data/new.exe
/lab_06/lab_06/lab_06/data/apphost.exe
